.footer {
  height: 70px;
  background-color: #00acff;
}
.footer-container {
  height: 70px;
}
.footer-title {
  color: white;
  font-weight: 800;
  font-size: 25px;
}
.footer-link-container a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-right: 1px solid black;
}
.footer-link-container a:last-child {
  border-right: 0px;
}
